@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-font: "JetBrains Mono", "Fira Code", "Cascadia Code", "Consolas", monospace;
}

body {
  @apply bg-surface text-text-primary;
  font-family: var(--app-font);
  user-select: none;
  margin: 0;
  overflow: hidden;
}

button, a, input, select, [data-clickable] {
  -webkit-app-region: no-drag;
}
