@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface text-text-primary font-sans;
  user-select: none;
  margin: 0;
  overflow: hidden;
}

button, a, input, select, [data-clickable] {
  -webkit-app-region: no-drag;
}
